@use 'variables';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(https://blenderartists.org/uploads/default/original/4X/a/4/4/a444ab00f66d8b0fa64968f3bc32758f0614f5c6.jpeg);
    background-size: cover;
    text-align: center;

    @media (max-width: 768px) {
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 35vw;
    }

    .button { 
        margin: 2vw 0 8px 0;
    }

    .title--small {
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 1.25px;

        &:last-child {
            margin-top: 3.75rem;
        }
    }

    &__content {
        max-width: 640px;

        &__branding {
            img { max-width: 480px; }
            margin: 0 auto 2.375rem;

            @media (max-width: 768px) {
                img { max-width: 180px; }
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);


                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 1.5rem;
                }

                img {
                    max-height: 60px;
                }
            }
        }
    }
}
