@use 'variables';

.shows {
    padding: 2vw 5.6vw;

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variables.$primaryTextColor;
            font-size: 1.25rem;
            background: none;
            border: none;
            padding-bottom: 5px;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-bottom: 5px solid variables.$primaryTextColor;
            }
        }
    }

    &__list {
        margin-top: 2.75rem;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }
}
