@use 'variables';
@use 'hero';
@use 'shows';
@use 'plans';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: variables.$backgroundColor;
}

@mixin text($fontSize: 1rem) {
    font-size: $fontSize;
    line-height: $fontSize + 0.625rem;
    color: variables.$primaryTextColor;
}

@mixin title($fontSize: 2.5rem) {
    @include text($fontSize);
    color: variables.$primaryTextColor;
    margin-bottom: 2rem;
}

.text--big {
    @include text(1.125rem);
    color: variables.$secondaryTextColor;
}

.text {
    @include text;
}

.text--small {
    @include text(0.75rem);
}

.title--big {
    @include title(2.75rem);
}

.title {
    @include title;
}

.title--small {
    @include title(1.75rem);
}

.link-text {
    @include text(1.125rem);
}

button {
    display: block;
    width: 100%;
    height: 70px;
    font-size: 1.125rem;
    border: none;
    background-color: variables.$black;
    color: variables.$primaryTextColor;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 2vw 0 8px 0;
    cursor: pointer;
}
